.top-section{
    background-color: rgba(0, 78, 144, 0.9);
    
}
option{
    outline: none;
    border-inline-color:rgba(0, 78, 144, 0.9) ;
}
.main-body{
    background-color: bisque;
}

.nav-link:hover{
  background-color: rgba(67, 122, 167, 0.9) ;
}
.Dropdowns{
    position:absolute;
    top: 6.5rem;
    right: 5rem;
    width: 120px;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid gray;
}
.Dropdowns::before{
    content: '';
    position: absolute;
    top: -0.7rem;
    width: 20px;
    background-color: white;
    left: 1.1rem;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}